<!DOCTYPE html>
<html>
	<head>
		<title> <%=title%> </title>
		<link rel="stylesheet" type= "text/css" href="create.css" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<link href = "http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel = "stylesheet" type = "text/css">
		<script src = "autocomplete4.js"></script>
	</head>
	<body>
		<div id = "nav">
			<h1 class = "title"><a class = "title" href = "/"> justplay </a></h1>
		</div>
		<div class = "darker">
			<div id = "content">
				<h1> tell us when, we'll take care of the rest. </h1><br>
				<form>
					<label for = "name"> Sport: </label><input name = "sport" type = "text" placeholder = "hello!"><br>
					<label for = "description"> Description: </label><input name = "descript" type = "text" placeholder = "your name?"><br>
					<label for = "where">Where: </label><input id = "where" type = "text" placeholder = "Add a place?" name = "where">
					<input type = "submit">
				</form>
			</div>
			<button id = "demo">Try me!</button>
		</div>
	</body>
</html>