<!DOCTYPE html>
<html>
	<head>
		<title> <%=title%> </title>
		<link rel="stylesheet" type= "text/css" href="create.css" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id = "nav">
			<h1 class = "title"><a class = "title" href = "/"> justplay </a></h1>
		</div>
		<div class = "darker">
			<div id = "content">
				<h1> tell us when, we'll take care of the rest. </h1><br>
				<form>
					<input type = "text" placeholder = "hello!"><br>
					<input type = "text" placeholder = "your name?"><br>
					<input type = "submit">
				</form>
			</div>
			<button id = "demo">Try me!</button>
		</div>
	</body>
</html>