<!DOCTYPE html>
<html>
	<head>
		<title> <%=title%> </title>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type= "text/css" href="createpage.css" media="screen">
	</head>
	<body>
		<div class= "transbox"></div>
		<form method = "POST">
			<label for = "address"></label>
			<input type = "text" placeholder = "Address">
			<br><br>
			<label for = "sport"></label>
			<select name = "sport">
				<option value = "basketball">Basketball</option>
				<option value = "tennis">Tennis</option>
				<option value = "soccer">Soccer</option>
				<option value = "frisbee">Ultimate</option>
				<option value = "volleball">Volleyball</option>	
			</select>
			<br><br>
				<input type = "datetime-local" name = "starttime"><br><br>
				<input type = "datetime-local" name = "endtime"><br><br>
			<label></label><br>
      		<textarea rows="5" cols="50" placeholder="Event Description" name="description" tabindex="6"></textarea>
      		<br><br><br>
		</form>	
	</body>
</html>