<!DOCTYPE html>
<html>
	<head>
		<link href = "home2.css" type = "text/css" rel = "stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Fresca' rel='stylesheet' type='text/css'>
	</head>	
	<body>
		<h1 id = "title">Just Play</h1>
		<h4 class = "tagline"> No more showing up to an empty gym. </h4>
		<h4 class = "tagline"> Coordinate. Connect. Play. </h4>
	</body>


</html>	