<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type= "text/css" href="landpage.css" media="screen">
		<link href="http://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
		<title> <%=title%> </title>
	
	</head>
	<body>
		<div class= "background">
		<div class= "transbox">
			<p>
				<h1>Just Play</h1>
				<h2>Pick a sport, Find a game</h2>
				<a class="text-center">
					<button class="btn btn-large" type="button" href = "/create">Create a game</button>
					<button class="btn btn-large" type="button" href = "/find"> Find Game </button>
				</a>
			</p>
		</div>
		</div>
	</body>
</html>