<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type= "text/css" href="landpage.css" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Jacques+Francois' rel='stylesheet' type='text/css'>
		<link href="http://fonts.googleapis.com/css?family=Courgette" rel="stylesheet" type="text/css">
		<link rel='shortcut icon' type='image/x-icon' href='sports_icon_set/icon_soccer.png' />

		<title> <%=title%> </title>
	
	</head>
	<body>
		<h1 class="test" href="/">Just Play</h1>
		<h2 href ="/">No more showing up to an empty gym. </h2>
		<h2> Coordinate. Connect. Play.</h2>
		<div class= "transbox"></div>
		<p id="icons">
			<img src='sports_icon_set/icon_basketball.png'>
			<img src='sports_icon_set/icon_baseball.png'>
			<img src='sports_icon_set/icon_volleyball.png'>
			<img src='sports_icon_set/icon_american_football.png'>
			<img src='sports_icon_set/icon_soccer.png'>
			<img src='sports_icon_set/icon_icehockey.png'>
			<img src='sports_icon_set/icon_tennis.png'>
			<img src='sports_icon_set/icon_cricket.png'>
		<br>
		<br>
		<br>
			<a class="text-center"> 
				<button id="Make" class="btn btn-inverse btn-large" type="button" href="/make">Make a Game</button>
				<button id="Find" class="btn btn-large btn-inverse" type="button" href = "/find"> Find a Game </button>
			</a>
		</p>
		
	</body>
</html>