<!DOCTYPE html>
<html>
	<head>
		<link href = "home2.css" type = "text/css" rel = "stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Yesteryear' rel='stylesheet' type='text/css'>
		<link href = "bootstrap.min.css" rel = "stylesheet">
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	</head>	
	<body>

	</body>


</html>	