<!DOCTYPE html>
<html>
<head>
	<title> Just Play </title>
	<link href = "landpage.css" rel = "stylesheet" type = "text/css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id = "nav">
		<h1 id = "title"> justplay </h1>
	</div>
	<div class = "darker">
		<div id = "content">
			<h1> connect to the games you love, without the hassle.</h1>
			<a href = "#facebook"><img src = "facebook_login.png"/></a>
			<h5>Or, sign in as a <a href="page2">guest.</a></h5>
		</div>
	</div>
</body>
</html>