<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" type= "text/css" href="landpage.css" media="screen">
		<title> <%=title%> </title>
		Just Play!
	</head>
	<body>
		<p>
		<a href = "/create">Create a game</a></br>
		<a href = "/find"> Find a game </a> 
	</body>
</html>