<!DOCTYPE html>
<html>
	<head>
		<title>Find or Create a Game</title>
		<link rel="stylesheet" type="text/css" href="page2.css">
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">

	</head>
	<body>
		<div id = "nav">
			<h1 id = "title"> justplay </h1>
		</div>
		<div class="imagetable">
			<table>
				<tr>
					<td><a class="picture" id="soccer"><img src="soccer3.jpg" class="img-circle"</a></td>
					<td><a class="picture" id="baseball"><img src="baseball2.jpg" class="img-circle"></a></td>
					<td><a class="picture" id="basketball"><img src="basketball4.jpg" class="img-circle"></a></td>
				</tr>
				<tr>
					<td><a class="picture" class="tennis"><img src="tennis7.jpg" class="img-circle"></a></td>
					<td><a class="picture" id="golf"><img src="golfball.jpg" class="img-circle" ></a></td>
					<td><a class="picture" id="badmington"><img src="badminton.jpg" class="img-circle"></a></td>
				</tr>
			</table>
		</div>
	</body>
</html>