<!DOCTYPE html>
<html>
	<head>
		<title>Find or Create a Game</title>
		<link rel="stylesheet" type="text/css" href="page2.css">
		

	</head>
	<body>
		<div id = "nav">
			<h1 id = "title"> justplay </h1>
		</div>
		<div class="livefeed">
			<li >
				Ron
			</li>
			<li>
				Basin
			</li>
		</div>
	</body>
</html>