<!DOCTYPE html>
<html>
	<head>
		<title><a href=""> Find or Create a Game</a></title>
		<link rel="stylesheet" type="text/css" href="page2.css">
	</head>
	<body>
		<div id = "nav">
			<h1 id = "title"> justplay </h1>
		</div>

		<div class="livefeed">
			<ul>
				<li >
					Ron
				</li>
				<li>
					Basin
				</li>
			</ul>

		<div class="darker">
		<div class="lighter">
			<ul>
				<li id="sport" id="proximity" id="address" id="time"><a href="">
					Drake Park 5 v 5 game, 5:30. Bring your friends, and your hoes!
				</a>
				</li>
				<li><a href="">
					Basin
				</a>
				</li>
			</ul>
		</div>
>>>>>>> 47294116f2ae7e9cf7d778cbaf6833e4901aa70a
		</div>
	</body>
</html>