<!DOCTYPE html>
<html>
	<head>
		<title><a href=""> Find or Create a Game</a></title>
		<link rel="stylesheet" type="text/css" href="page2.css">

	</head>
	<body>
		<div id = "nav">
			<h1 id = "title"> justplay </h1>
		</div>
		<div class="inline" id="weather">Weather is here</div>
		<div class="inline">
			<ul>
				<li class="livegame"><h3>Game Feed</h3></li>
				<li class="game">
					<strong>Soccer</strong><span><font color="#94918E" id="timetil" text-align:"right">14m</font> <font color="blue" id="distancetoyou">1.8 miles</font></span><br>Where:
					<a href="" id="location">Drake Park</a><font id="contact">@twitter or fb</font>
					<br>Tweet it: <a href="">@shortlink</a>
					</a><a href=""><button class="btn">Join</button></a><br>Final Words:<font></font>
				</li>
				<li>
					<strong>Soccer</strong><span><font color="#94918E" id="timetil" text-align:"right">14m</font> <font color="blue" id="distancetoyou">1.8 miles</font></span><br>Where:
					<a href="" id="location">Drake Park</a><font id="contact">@twitter or fb</font>
					<br>Tweet it: <a href="">@shortlink</a>
					</a><a href=""><button class="btn">Join</button></a><br>Final Words:<font></font>
				</li>
				<li>
					<strong>Soccer</strong><span><font color="#94918E" id="timetil" text-align:"right">14m</font> <font color="blue" id="distancetoyou">1.8 miles</font></span><br>Where:
					<a href="" id="location">Drake Park</a><font id="contact">@twitter or fb</font>
					<br>Tweet it: <a href="">@shortlink</a>
					</a><a href=""><button class="btn">Join</button></a><br>Final Words:<font></font>
				</li>
				<li>
					<strong>Soccer</strong><span><font color="#94918E" id="timetil" text-align:"right">14m</font> <font color="blue" id="distancetoyou">1.8 miles</font></span><br>Where:
					<a href="" id="location">Drake Park</a><font id="contact">@twitter or fb</font>
					<br>Tweet it: <a href="">@shortlink</a>
					</a><a href=""><button class="btn">Join</button></a><br>Final Words:<font></font>
				</li>
				<li>
					<strong>Soccer</strong><span><font color="#94918E" id="timetil" text-align:"right">14m</font> <font color="blue" id="distancetoyou">1.8 miles</font></span><br>Where:
					<a href="" id="location">Drake Park</a><font id="contact">@twitter or fb</font>
					<br>Tweet it: <a href="">@shortlink</a>
					</a><a href=""><button class="btn">Join</button></a><br>Final Words:<font></font>
				</li>
			</ul>
		</div>
	</body>
</html>