<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
		<link rel="stylesheet" type= "text/css" href="style.css" media="screen">
	</head>
	<title> <%=title%> </title>
	<body>
		<h1>JustPlay</h1>
		<div id="wrap">
			<div class="row">
				<a href="" class="fancybox" rel="group" title="Basketball!">
					<video></video>
				</a> <a href="" class="fancybox" rel="group" title="Soccer!">
					<video></video>
				</a>
			<div class="row">
				<a href="" class="fancybox" rel="group" title="Football!">
					<video></video>
				</a> <a href="" class="fancybox" rel="group" title="Volleyball!">
					<video></video>
				</a>
			</div>		
			</div>
		</div>
	</body>

</html>