body{
	padding: 0;
	font-family: 'Roboto';
	margin: 0;
	background: url('ps_neutral.png');
}
#nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	background-color: #000000;
	z-index: 2;
	float: left;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	 box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
}

.title{
	float: left;
	color: white;
	text-decoration: none;
}

.title:hover{
	text-decoration: none;
	color: white;
	opacity: 0.8;
}

#content{
	z-index: 1000;
	color: black;
	text-align: center;
	margin-top: 8%;
	opacity: 1;
}

/*.darker{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}*/