body {
	background-image:url('Background.jpg');
	background-repeat: repeat-x;
}

div.transbox {
	margin: 10px 20px 10px;
	background-image:url('mooning.png');
	border:1px solid black;
	opacity: 0.6;
	position: fixed;
	right: 100px;
	left:100px;
	background-repeat: repeat-x;
}

p {
	margin:30px 40px;
	font-weight:bold;
	color:#000000;
	position:fixed;
	top: 300px;
	left:250px;
	right:250px;
    text-align: center;
}

h1,h2 {
	font-family: 'Courgette', cursive;
    color: white;    
    text-align: center;

}

button {
	color:blue;
}