body {
	background-image:url('soccer.png');
	background-size: cover;
}

div.transbox {
	height: 10000px; 
	background-image: url('mooning.png');
	opacity: 0.5;
    background-repeat: repeat;
	position: fixed;
	right: 200px;
	left:200px;
	top:0px;
	bottom:0;
    z-index: -10;
}

p {
	margin:30px 40px;
	font-weight:bold;
	position:fixed;
	top: 250px;
	left:250px;
	right:250px;
    text-align: center;
    font-family: cursive, serif, 'Jacques Francois';
    opacity: 0.8;
    z-index: 0;
}


h1 {
    font-size: 450%;
    bottom: 80px;
}

h1,h2 {
	font-family: 'Jacques Francois', serif;
    color: black;    
    text-align: center;
    font-weight:bold;
    z-index: 0;
}


