div.background {
	background:url(Background.jpg) repeat;
}

div.transbox {
	width:400px;
	height:180px;
	margin:30p 50px;
	background-color:#ffffff;
	border:1px solid black;
	opacity: 0.6;
	position: fixed;
	top: 300px;
	left:300px;
}

div.transbox p {
	margin:30px 40px;
	font-weight:bold;
	color:#000000;
	position:fixed;
	top: 500px;
	left:500px;
}

h1, h2 {
	font-family: 'Courgette', cursive;
	position: fixed;
};
